body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(18,93,40,1), rgba(52,255,0,1));
    display: flex;
    flex-direction: column;
}
#maintitle {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 60px;
    margin: 0%;
    font-weight: 900;
}
.header h3 {
    font-weight: 100;
    font-weight: 12px;
    width: 400px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(212, 203, 23);
}
.main {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 15px;
}
.card img{
    width: 150px;
    height: 150px;
}
.card img:hover {
    box-shadow: 0 0 11px rgba(241, 237, 11, 0.967); 
}